* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  background-color: black;
body {
  height: -webkit-fill-available;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.body_content {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  height: -webkit-fill-available;
}

.container {
  width: 100%;
  background-color: transparent;
  overflow: hidden;
  box-shadow: 0 2rem 6rem 0.5rem rgba(101, 90, 86, 0.2);
}
}

.footer {
  position: fixed;
  background-color: black;
  font-size: 12px;
  justify-content: center;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 10px;
  bottom: 0;
  flex-flow: column;
  .copyright {
    display: block;
    letter-spacing: 0.3rem;
    margin: 20px;
    font-family: "Courier New", Courier, monospace;
    color: whitesmoke;
    .link {
      color: whitesmoke;
      text-decoration: none;
    }
  }
  
}

