.full_height{
  display: flex;
  width: 100%;
  align-items: center;
  height: -webkit-fill-available;
  flex-flow: column;
}
.welcome{
  margin-block-start: 20px;
}
#welcome{
    color: #f9f9f9;
    font-family: 'Courier New', Courier, monospace;
}
#date {
  left: 10px;
  color: #fff;
  font-size: 25px;
}
.relative_container{
  top: 545px;
  position: relative;
}
#showLocation {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
}
.current_location {
    width: 100%;
    display: flex;
    justify-content: center;
    color:#008B8B;
} 
.location_btn {
  padding: 10px;
  border-radius: 20px;
  margin: 20px;
  font-family: "barriecito";
  letter-spacing: 5px;
}
#currentLocationName {
  font-family: monospace;
  padding: 5px;
  font-size: x-large;
  opacity: 0.8;
  filter: alpha(opacity=50); /*questa è per IE, versioni meno recenti dell'ultima */
}